//color
$item-color:#132242;
$nav-background-color:#162253;
$btn-background-color:#ff7745;
$gray-background:#f6f6f6;
$footer-text-color:#cfcfcf;
$title-color:#000;
$type-color:#333;
$nav-color:#c5c8d4;
$nav-active-color:#fff;
$text-color:#a9a9a9;
$background-opacity:rgba(0,0,0,0.5);
//height
$header-height:80px;
$footer-height:110px;
$element-distance:30px;
$icon-size:34px;
$item-width:273px;
$item-width-x:276px;
$normal-size:20px;
$content-margin:28px;
//font-size
$font-size-small-s :12px;
$font-size-small :14px;
$font-size-medium : 16px;
$font-size-medium-x : 18px;
$font-size-large : 24px;
$font-size-large-x : 28px;
$font-size-large-xx:30px;
$font-size-normal:20px;
//border-line
$titlt-line:1px solid #bebebe;
$box-line:1px solid #dcdcdc;
$box-dotted-line:1px dotted #dcdcdc;
